.rowBar::-webkit-scrollbar {
  background: transparent;
  height: 8px;
}
.rowBar::-webkit-scrollbar-thumb {
  /* box-shadow: 0 0 10px 10px grey; */
  border: solid 30px transparent;
  background-color: #a6a6a6;
  border-radius: 10px;
}
.rowBar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 10px 10px grey; */
  border: solid 30px transparent;
  border-radius: 10px;
}
.rowBar::-webkit-scrollbar-thumb:hover {
  background: #858585;
}

.paginationBtns {
  list-style: none;
  justify-content: center;
  display: flex;
}

.paginationBtns a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid white;
  color: white !important;
  background-color: #737373;
  cursor: pointer;
}

.paginationActive a {
  border: 2px solid gold;
  color: gold !important;
}
