.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid yellow;
  color: white;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  color: yellow;
}

.react-tabs__tab--disabled {
  color: grey;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.btn-sub-add {
  background-color: #525151;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
}

.btn-sub-add:hover {
  background-color: #747272;
}

.noarrows::-webkit-outer-spin-button,
.noarrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noarrows {
  background-color: #525151;
  border-radius: 5px;
  color: white;
}

.noarrows:hover {
  background-color: #747272;
}

.stake-btn {
  background-color: transparent;
  color: gold;
  border-radius: 5px;
  border-color: gold;
}

.winning-ticket {
  background-color: #747272;
  color: gold;
  border-radius: 5px;
  letter-spacing: 25px;
  text-align: center;
  font-size: 20px;
}

.ticket-number {
  background-color: goldenrod;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  width: 50px;
  text-align: center;
}
